body{
    color:black;
    max-width: 80%;
    margin: none;
}

header{
    margin: center;
    text-align: center;
    font-style:italic;
    text-shadow: 2px 2px;}

h1{
    width: 75%;
    color:blue;
    background-color: aqua;
    float: center;}

h3{ color: black;
    text-align: center;
    background-color: lawngreen;   
}

nav ul{
    padding: 0%;
    width:41.75%;
    text-decoration: underline;
    font-style:italic;
    list-style-type: none;
    }

nav :hover, :focus {color:blueviolet}

section{
    margin: center;
    text-transform: none;
    color: brown;
    background-color: cornsilk;
}

footer{
    font-style:normal;
    font-size: smaller;}