body{
    color:black;
    max-width: 80%;
    background-color:white;
    width: 1000px;;
    margin: 15px auto;
    border:1px solid black
}

header{
    border-bottom: 2px solid orange;
    margin: center;
    text-align: center;
    font-style:italic;
    text-shadow: 2px 2px;
    background-color: aquamarine;
}

main{
    width: 75%;
    background-color: aqua;
    float: center;
    background-color: red;
    text-align: center;
    height: 400px;
    width: 600px;
    float: left;
    border-right:1px solid orange
} 

nav ul{
    padding: 0%;
    text-align: left;
    text-decoration: underline;
    font-style:italic;
    list-style-type: none;
    }

nav :hover, :focus {color:blueviolet}

section{
    margin: center;
    text-transform: none;
    color: brown;
    background-color: cornsilk;
}

footer{
    background-color: limegreen;
    font-style:normal;
    font-size: smaller;
    clear: both;
    border-top: 2px solid orange ;
}
