body{
    color:black;
    text-align:left ;}

header{
    font-style:italic;
    text-shadow: 2px 2px;}

h1{
    color:blue;
    background-color: aqua;
    text-align: center;}

h2 {
    color:aqua;
    text-align: center;}

nav ul{
    text-decoration: underline;
    font-style:italic;}

nav :hover, :focus {color:blueviolet}

section{
    text-transform: none;
    color: brown;
    background-color: cornsilk;
}

footer{
    font-style:normal;
    font-size: smaller;}