*{margin: 0; padding: 0;}
body{
    background-color:white;
    width: 962px;;
    margin: 15px auto;
    border:1px solid black
}

header{ border-bottom: 2px solid orange;}

main{
    height: 350px;
    width: 400px;
    float: left;
    border-right:1px solid orange; 
}
aside{
    width: 360px;
    float: right;
}

nav ul{
    padding: 0%;
    width:41.75%;
    text-decoration: underline;
    font-style:italic;
    list-style-type: none;
    }

footer{
    clear: both;
    border-top: 2px solid orange ;
    font-style:normal;
    font-size: smaller;}